.jb-logo{
    width: 160px;
    height: 40px;
    margin-top: 20px;
}
.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu{
    width: 100%;
    height: 100%;
    margin-top: 25px;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* ← key fix */
  padding: 0 16px; /* optional: add some spacing */
  height: 64px; /* optional: define height to align content vertically */
}

.header-title {
  font-size: 18px;
  font-weight: 600;
}
.btn-tfh{
  padding: 5px 16px 5px 16px;
  border: 2px solid #408634;
  color: #408634;
  font-size: 14px;
}
.btn-tfh-2{
  border: 2px solid #d9d9d9e6;
  padding: 5px 16px 5px 16px;
  font-size: 14px;

}

.breadcrumb-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.date-picker-container{
  display: flex;
  align-items: center;
  gap: 20px;
}
.content-container-main{
  width: 574px;
  height: 246px;
  background: #ffffff;
  border-radius: 12px;
  padding:  16px 16px 16px 16px;
}
.content-container-main-1{
  width: 574px;
  height: 246px;
  background: #ffffff;
  border-radius: 12px;
  padding:  16px 16px 16px 16px;

}